# Header area
{
	background-color:"RED";
	padding: 20Px;
	margin: 2 px solid #FF00FF;
	width: 100 px;
	height: 200 px;
	color:"RED";

}
# Footer Area
{
	color: #FF00FD;
	padding: 1200 px;
	width: 100px;
	height: 1200px;
	ma‌rgin: 1200 px solid #FF00FF;
	width: 1200px;
}

# name 
{	
	  color: #FFFFFF;
}
